.cb-livesearch-list {
    display: none;
    position: absolute;
    background-color: white;
    opacity: 0;
    transform: scale(0.6);
    box-shadow: 0 4px 14px 0px rgba(0, 0, 0, 0.3);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    min-height: 0;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1001;
}

.cb-livesearch-list.show {
    opacity: 1;
    transform: scale(1);
}

.cb-livesearch-list-table {
    width: 100%;
    border-spacing: 0;
}

.cb-livesearch-list-table {
    width: 100%;
    border-spacing: 0;
}

.cb-livesearch-list-table td {
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
    word-break: break-all;
    padding: 18px 4px;
}

.cb-livesearch-list-table tr {
    cursor: pointer;
    transition: background-color ease-in-out 100ms;
}

.cb-livesearch-list-table tr.selection {
    background-color: #9b9b9b !important;
    color: white;
}

.cb-livesearch-list-table tr:hover {
    background-color: #f4f4f4 !important;
    color: #4d4d4d;
}

.cb-livesearch-message-box {
    display: none;
    width: 100%;
    text-align: center;
    transition: all 200ms ease-in-out;
    overflow: hidden;
    white-space: nowrap;
}

.cb-livesearch-message-box.show {
    font-size: 12px;
    display: inline-block;
    padding: 0 8px;
    line-height: 50px;
}
